 .div1{
    position: absolute;
    background-image: url("images/alphabet books.jpg");
    background-attachment: fixed;
    width: 1348px;
    height:1075px;
    top: 1px;
    left: 0.1px;
    opacity: 0.3; 
} 

#ABC{
    position: absolute;
    height: 300px;
    width: 300px;
    top: 40%;
    left: 75px;
}
 
#ABC1{
    position: absolute;
    font-size: 30px;
    top:85%;
    left: 75px;
    transition-property: color,cursor;
    transition-duration: 1s;
}

#ABC1:hover{
     color: yellow;
     cursor: pointer;
}

#ABC2{
    position: absolute;
    top: 100%;
    left: 75px;
    font-size: 15px;
    opacity: 1;
}

.div3{
    position: absolute;
    top: 1%;
    font-size: 50px;
    left: 40%;
}

.div4{
    position: absolute;
    left:13px;
    width: 99%;
    top: 30%;
    color: solid black;
}

#Animal{
    position: absolute;
    height: 300px;
    width: 300px;
    top: 40%;
    left: 38%;
}

#Animal1{
    position: absolute;
    font-size: 30px;
    top:85%;
    left: 38%;
    transition-property: color,cursor;
    transition-duration: 1s;
}

#Animal1:hover{
    color: yellow;
    cursor: pointer;
}

#Animal2{
    position: absolute;
    top: 100%;
    left: 38%;
    font-size: 15px;
    opacity: 1;
}

#Fruits{
    position: absolute;
    height: 300px;
    width: 300px;
    top: 40%;
    left: 70%;
}

#Fruits1{
    position: absolute;
    font-size: 30px;
    top:85%;
    left: 70%;
    transition-property: color,cursor;
    transition-duration: 1s;
}

#Fruits1:hover{
    color: yellow;
    cursor: pointer;
}

#Fruits2{
    position: absolute;
    top: 100%;
    left: 70%;
    font-size: 15px;
    opacity: 1;
}


#Vegitable{
    position: absolute;
    height: 300px;
    width: 300px;
    top: 110%;
    left: 75px;
}

#Vegitable1{
    position: absolute;
    font-size: 30px;
    top:155%;
    left: 75px;
    transition-property: color,cursor;
    transition-duration: 1s;
}

#Vegitable1:hover{
    color: yellow;
    cursor: pointer;
}

#Vegitable2{
    position: absolute;
    top: 165%;
    left: 75px;
    font-size: 15px;
    opacity: 1;
}

#Colors{
    position: absolute;
    height: 300px;
    width: 300px;
    top: 110%;
    left: 38%;
}

#Colors1{
    position: absolute;
    font-size: 30px;
    top:155%;
    left: 38%;
    transition-property: color,cursor;
    transition-duration: 1s;
}

#Colors1:hover{
    color: yellow;
    cursor: pointer;
}

#Colors2{
    position: absolute;
    top: 165%;
    left: 38%;
    font-size: 15px;
    opacity: 1;
}

#Country{
    position: absolute;
    height: 300px;
    width: 300px;
    top: 110%;
    left: 70%;
}

#Country1{
    position: absolute;
    font-size: 30px;
    top:155%;
    left: 70%;
    transition-property: color,cursor;
    transition-duration: 1s;
}

#Country1:hover{
    color: yellow;
    cursor: pointer;
}

#Country2{
    position: absolute;
    top: 165%;
    left: 70%;
    font-size: 15px;
    opacity: 1;
}








/* #A{ 
    position:absolute;
    top: 1%;
    left: 0.1px;
    text-decoration: underline;
}

#B{
    position: absolute;
    top: 79%;
    left: 0.1px;
}

#C{
    position: absolute;
    top: 157%;
    left: 0.1px;
}

#D{
    position: absolute;
    top:233%;
    left: 0.1px;
}

#E{
    position: absolute;
    top: 310%;
    left: 0.1px;
}

#F{
    position: absolute;
    top: 387%;
    left: 0.1px;
}

#G{
    position: absolute;
    top: 465%;
    left: 0.1px;
}

#H{
    position: absolute;
    top: 543%;
    left: 0.1px;
}

#I{
    position: absolute;
    top: 620%;
    left: 0.1px;
}

#J{
    position: absolute;
    top: 697%;
    left: 0.1px;
}

#K{
    position: absolute;
    top: 774%;
    left: 0.1px;
}

#L{
    position: absolute;
    top: 850%;
    left: 0.1px;
}

#M{
    position: absolute;
    top: 928%;
    left: 0.1px;
}

#N{
    position: absolute;
    top: 1010%;
    left: 0.1px;
}

#O{
    position: absolute;
    top: 1089%;
    left: 0.1px;
}

#P{
    position: absolute;
    top: 1169%;
    left: 0.1px;
}

#Q{
    position: absolute;
    top: 1245%;
    left: 0.1px;
}

#R{
    position: absolute;
    top: 1325%;
    left: 0.1px;
}

#S{
    position: absolute;
    top: 1405%;
    left: 0.1px;
}

#T{
    position: absolute;
    top: 1484%;
    left: 0.1px;
}

#U{
    position: absolute;
    top: 1565%;
    left: 0.1px;
}

#V{
    position: absolute;
    top: 1644%;
    left: 0.1px;
}

#W{
    position: absolute;
    top: 1719%;
    left: 0.1px;
}

#X{
    position: absolute;
    top: 1797%;
    left: 0.1px;
}

#Y{
    position: absolute;
    top: 1878%;
    left: 0.1px;
}

#Z{
    position: absolute;
    top: 1960%;
    left: 0.1px;
}

#Apple{
    position: absolute;
    top:0.1%;
    left:50% ;
    width: 550px;
    height: 550px;
}

#Apple1{
    position: absolute;
    top: 45%;
    left: 83%;
    font-size: 50px;
    font-family:Arial, Helvetica, sans-serif;
    color: solid black;
    text-decoration: underline;
    

}

#Ball{
    position: absolute;
    top:83%;
    left:54% ;
    width: 400px;
    height: 400px;
}

#Ball1{
    position: absolute;
    top: 125%;
    left: 85%;
    font-size: 50px;
    font-family:Arial, Helvetica, sans-serif;
    color: solid black;
    text-decoration: underline;
}

#Cat{
    position: absolute;
    top:159%;
    left:54% ;
    width: 400px;
    height: 400px;
}

#Cat1{
    position: absolute;
    top: 200%;
    left: 85%;
    font-size: 50px;
    font-family:Arial, Helvetica, sans-serif;
    color: solid black;
    text-decoration: underline;
}

#Dog{
    position: absolute;
    top:185%;
    left:45% ;
    width: 700px;
    height: 700px;
}

#Dog1{
    position: absolute;
    top: 275%;
    left: 85%;
    font-size: 50px;
    font-family:Arial, Helvetica, sans-serif;
    color: solid black;
    text-decoration: underline;
}

#Elephant{
    position: absolute;
    top:290%;
    left:45% ;
    width: 700px;
    height: 690px;
}

#Elephant1{
    position: absolute;
    top: 360%;
    left: 80%;
    font-size: 50px;
    font-family:Arial, Helvetica, sans-serif;
    color: solid black;
    text-decoration: underline;
}
#Frog{
    position: absolute;
    top:380%;
    left:49% ;
    width: 500px;
    height: 550px;
}

#Frog1{
    position: absolute;
    top: 430%;
    left: 85%;
    font-size: 50px;
    font-family:Arial, Helvetica, sans-serif;
    color: solid black;
    text-decoration: underline;
}

#Frog{
    position: absolute;
    top:380%;
    left:49% ;
    width: 500px;
    height: 550px;
}

#Frog1{
    position: absolute;
    top: 430%;
    left: 85%;
    font-size: 50px;
    font-family:Arial, Helvetica, sans-serif;
    color: solid black;
    text-decoration: underline;
}

#Giraffe{
    position: absolute;
    top:465%;
    left:49% ;
    width: 500px;
    height: 450px;
}

#Giraffe1{
    position: absolute;
    top: 520%;
    left: 85%;
    font-size: 50px;
    font-family:Arial, Helvetica, sans-serif;
    color: solid black;
    text-decoration: underline;
}

#Horse{
    position: absolute;
    top:465%;
    left:49% ;
    width: 500px;
    height: 450px;
}

#Horse1{
    position: absolute;
    top: 520%;
    left: 85%;
    font-size: 50px;
    font-family:Arial, Helvetica, sans-serif;
    color: solid black;
    text-decoration: underline;
}
*/