
#div1{
  position: absolute;
  background-image: url("image/login-security.png");
  height: 99.99%;
  width: 99.99%;
  top: 0.1px;
  left: 0.1px;
}

#div2{
  position:absolute;
  /* background:linear-gradient(#93169a,#8727d8,#241fe0) ; */
  background: linear-gradient(#042f50,#075795,#0a7ad0,#2199f5,#5bb3f7);
  height: 80%;
  width: 30%;
  left: 33%;
  top: 60px;
  box-shadow: 9px 9px 30px 10px black; 
  
  transition-property: border-radius , background-color;
  transition-duration: 1s;
}

#div2:hover{
  border-radius: 50px;

}
#div3{
  position: absolute;
  top: 10%;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  left: 41.2%;
  text-decoration: underline;
}

#div4{
  position: absolute;
  top: 30%;
  left: 38.1%;
}

#text1{
  position: absolute;
  height: 45px;
  width: 350px;
  background: linear-gradient(#075795,#0a7ad0,#2199f5,#5bb3f7);
  font-size: 30px;
  border-radius: 10px;
  
  
}

#div5{
  position: absolute;
  top: 40%;
  left: 38.1%;
}

#text2{
  position: absolute;
  height: 45px;
  width: 350px;
  background: linear-gradient(#075795,#0a7ad0,#2199f5,#5bb3f7);
  font-size: 30px;
  border-radius: 10px;
}

#div6{
  position: absolute;
  top: 50%;
  left: 38.1%;
}

#text3{
  position: absolute;
  height: 30px;
  width: 250px;
  background: transparent;
  font-size: 20px;
  border-radius: 10px;
}

#div7{
  position: absolute;
  top: 60%;
  left: 38.1%;
}

#text4{
  position: absolute;
  height: 30px;
  width: 250px;
  background: transparent;
  font-size: 20px;
  border-radius: 10px;
}

#div8{
  position: absolute;
  top: 50%;
  left: 38.1%;
}



#sub1{
  position: absolute;
  font-size: 30px;
  border-radius:10px;
  background:linear-gradient(#042f50,#075795,#0a7ad0,#2199f5,#5bb3f7);

}
#sub1:hover{
  cursor: pointer;
}
#div9{
  position: absolute;
  top: 20%;
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  left: 40%;
  text-decoration: underline;
}

#div10{
  position: absolute;
  top: 80%;
  left: 38.1%;
}

#Reg{
  position:absolute;
  top: 70%;
  left: 50%;
  font-size: 25px;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

#Reg2{
  position: absolute;
  left: 38.1%;
  top: 70%;
  font-size: 23px;
}


#sign{
  position:absolute;
  top: 65%;
  left: 50%;
  font-size: 25px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  
}

#sign2{
  position: absolute;
  left: 38.1%;
  top: 65%;
  font-size: 23px;
}

#for{
  position:absolute;
  top: 55%;
  left:38.1%;
  font-size: 25px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  
}


#reg1{
  transition-property: font-size;
  transition-duration: 0.1s;
}

#reg1:hover{
  font-size: 30px;
}

#sign1{
  transition-property: font-size;
  transition-duration: 0.1s;
  
}

#sign1:hover{
  font-size: 30px;
}


#for1{
  transition-property: font-size,cursor;
  transition-duration: 0.1s;
}

#for1:hover{
  font-size: 30px;
  cursor: pointer;
}

#reg0{
  text-decoration: none;
}

#sign0{
  text-decoration: none;
}

#profile{
  position: absolute;
  left: 35%;
  top: 30%;
}

#profile1{
  height: 50px;
  width: 50px;
}

#pass{
  position: absolute;
  left:35%;
  top:39.5% ;

}

#pass1{
   height: 50px;
   width: 50px ;
}

