

#input {
  position: absolute;
  top: 300px;
  left: 36%;
  text-align: center;
  font-size: 40px;
  border-color: blueviolet;
  
 
}




#input1 {
  position: absolute;
  top: 370px;
  left: 36%;
  text-align: center;
  font-size: 40px;
  border-color: blueviolet;
  
 
}



#container1{
  position: absolute;
  height: 100%;
  width: 99.99%;
  top: 0.1px;
  left: 0.01%;
  border-radius: none;
  
  
}

#container2{
  position: absolute;
  height: 15%;
  width: 10%;
  left: 43%;
  
  
  
}


#sub{
  position: absolute;
  top:55%;
  left:36% ;
  

  
}

#sub1{
  position: absolute;
  transition-property: border-radius,font-size,box-shadow;
  transition-duration: 1s;
  transition-delay: 500ms; 
  animation-duration: 1s;
  animation-delay: 1s;
  cursor: pointer;
  font-size: 25px;
  border-radius: 10px;

  
  

}

#sub1:hover{
  color: blue;
  border-radius: 10px;
  box-shadow: 5px 5px 50px 10px rgb(0, 183, 255);
}

#Reg{
  position:absolute;
  top: 600px;
  left: 34%;
  font-size: 25px;
  font-family:Georgia, 'Times New Roman', Times, serif;
}




#sign{
  position:absolute;
  top: 600px;
  left: 42%;
  font-size: 25px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  
}

#for{
  position:absolute;
  top: 600px;
  left: 49%;
  font-size: 25px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  
}

#log1{
  position: absolute;
  top: 105px;
  left: 41%;
  font-size: 47px;
  text-decoration: underline;
  
}

#log2{
  position: absolute;
  top: 199px;
  left: 36%;
  font-size: 30px;
  text-decoration: underline;
}


#continer{
  position: absolute;
  top: 126px;
  left: 32%;
  height:75%;
  width:33%;
  background-color: rgb(255, 71, 194);
  opacity: 0.3;
  border-radius: 50px;
  transition-property: box-shadow;
  transition-duration: 1s;
}

#continer:hover{
  box-shadow: 5px 5px 20px 20px rgb(255, 0, 0);
}

#text{
  position: absolute;
  font-size: 20px;
  top: 13px;
  transition-property: box-shadow,border-radius;
  transition-duration: 1s;
  

}

#text:hover{
  box-shadow: 5px 5px 50px 10px rgb(255, 251, 0);
  border-radius: 10px;
  
}

#text1{
  position: absolute;
  font-size: 20px;
  top: 13px;
  left: 105%;
  transition-property: box-shadow,border-radius;
  transition-duration: 1s;
}

#text1:hover{
  box-shadow: 5px 5px 50px 10px rgb(255, 251, 0);
  border-radius: 10px;
  
}

#reg1{
  transition-property: font-size;
  transition-duration: 0.1s;
}

#reg1:hover{
  font-size: 30px;
}

#sign1{
  transition-property: font-size;
  transition-duration: 0.1s;
  
}

#sign1:hover{
  font-size: 30px;
}


#for1{
  transition-property: font-size;
  transition-duration: 0.1s;
}

#for1:hover{
  font-size: 30px;
}

#reg0{
  text-decoration: none;
}

#sign0{
  text-decoration: none;
}