#div1{
    position: absolute;
    background-image: url('images/div1 image.jpg');
    background-attachment: fixed;
    width: 99.99%;
    height:500%;
    top: 0.1px;
    left: 0.01px;
    opacity: 0.8;   
}

.div2{
    position: absolute;
    top: 90px;
    left: 11px;
}
#div2{   
    height: 180px;
    width: 140px;
    transition-property: height,width,border-radius;
    transition-duration: 1s;
}

#div2:hover{
    height:200px ;
    width:170px ;
    border-radius: 20px;
}

.div3{
    position: absolute;
    top: 95%;
    left: 11px;
}
#div3{   
    height: 180px;
    width: 140px;
    transition-property: height,width,border-radius;
    transition-duration: 1s;
}

#div3:hover{
    height:200px ;
    width:170px ;
    border-radius: 20px;
}

.div4{
    position: absolute;
    top: 55%;
    left: 11px;
}
#div4{   
    height: 180px;
    width: 140px;
    transition-property: height,width,border-radius;
    transition-duration: 1s;
}

#div4:hover{
    height:200px ;
    width:170px ;
    border-radius: 20px;
}


.div5{
    position: absolute;
    top: 135%;
    left: 11px;
}
#div5{   
    height: 180px;
    width: 140px;
    transition-property: height,width,border-radius;
    transition-duration: 1s;
}

#div5:hover{
    height:200px ;
    width:170px ;
    border-radius: 20px;
}

.div6{
    position: absolute;
    top: 175%;
    left: 11px;
}
#div6{   
    height: 180px;
    width: 140px;
    transition-property: height,width,border-radius;
    transition-duration: 1s;
}

#div6:hover{
    height:200px ;
    width:170px ;
    border-radius: 20px;
}

.div7{
    position: absolute;
    top: 215%;
    left: 11px;
}
#div7{   
    height: 180px;
    width: 140px;
    transition-property: height,width,border-radius;
    transition-duration: 1s;
}

#div7:hover{
    height:200px ;
    width:170px ;
    border-radius: 20px;
}



#div22{
    position: absolute;
    text-decoration: underline;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition-property: font-size,cursor,box-shadow;
    transition-duration: 0.1s;
    left: 130%;
    top: 1px;
}

#div22:hover{
    font-size: 20px;
    cursor: pointer;
   
}

#div222{
    position: absolute;
    width: 900px;
    left: 190px;
    top: 20%;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#div33{
    position: absolute;
    text-decoration: underline;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition-property: font-size,cursor;
    transition-duration: 0.1s;
    height: 10px;
    left: 130%;
    top: 3px;
}

#div33:hover{
    font-size: 20px;
    cursor: pointer;
}

#div333{
    position: absolute;
    width: 900px;
    left: 190px;
    top: 61%;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#div44{
    position: absolute;
    text-decoration: underline;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition-property: font-size,cursor;
    transition-duration: 0.1s;
    height: 10px;
    left: 130%;
    top: 2px;
}

#div44:hover{
    font-size: 20px;
    cursor: pointer;
}

#div444{
    position: absolute;
    width: 900px;
    left: 190px;
    top: 102%;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#div55{
    position: absolute;
    text-decoration: underline;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition-property: font-size,cursor;
    transition-duration: 0.1s;
    height: 10px;
    left: 130%;
    top: 4px;
}

#div55:hover{
    font-size: 20px;
    cursor: pointer;
}
#div555{
    position: absolute;
    width: 900px;
    left: 190px;
    top: 143%;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#div66{
    position: absolute;
    text-decoration: underline;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition-property: font-size,cursor;
    transition-duration: 0.1s;
    height: 10px;
    left: 130%;
    top: 5px;
}

#div66:hover{
    font-size: 20px;
    cursor: pointer;
}
#div666{
    position: absolute;
    width: 900px;
    left: 190px;
    top: 184%;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#div77{
    position: absolute;
    text-decoration: underline;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition-property: font-size,cursor;
    transition-duration: 0.1s;
    height: 10px;
    left: 130%;
    top: 6px;
}

#div77:hover{
    font-size: 20px;
    cursor: pointer;
}
#div777{
    position: absolute;
    width: 900px;
    left: 190px;
    top: 224%;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



#div9{
    position: absolute;
    background-color: rgb(107, 247, 193);
    top: 90px;
    left: 10px;
    height: 200px ;
    width: 650px;
    transition-property: border-radius;
    transition-duration:1s ;
    opacity: 0.3;
}
 
#div10{
    position: absolute;
    background-color: rgb(107, 247, 193);
    top: 11%;
    left: 10px;
    height: 200px ;
    width: 650px;
    transition-property: border-radius;
    transition-duration:1s ;
    opacity: 0.3;
}

#div11{
    position: absolute;
    background-color: rgb(107, 247, 193);
    top: 19%;
    left: 10px;
    height: 200px ;
    width: 650px;
    transition-property: border-radius;
    transition-duration:1s ;
    opacity: 0.3;
}

#div12{
    position: absolute;
    background-color: rgb(107, 247, 193);
    top: 27%;
    left: 10px;
    height: 200px ;
    width: 650px;
    transition-property: border-radius;
    transition-duration:1s ;
    opacity: 0.3;
}

#div13{
    position: absolute;
    background-color: rgb(107, 247, 193);
    top: 35%;
    left: 10px;
    height: 200px ;
    width: 650px;
    transition-property: border-radius;
    transition-duration:1s ;
    opacity: 0.3;
}

#div14{
    position: absolute;
    background-color: rgb(107, 247, 193);
    top: 43%;
    left: 10px;
    height: 200px ;
    width: 650px;
    transition-property: border-radius;
    transition-duration:1s ;
    opacity: 0.3;
}

#div16{
  position: absolute;
  top:0.01px;
  left:10px;
}

#div166{
     
     font-size: 30px;
     text-decoration: underline;
     font-family: Arial, Helvetica, sans-serif;
}

#div15{
    position: absolute;
    top: 24px;
    left: 5px;
    height: 50px;
    width:220px;
    background: linear-gradient(rgb(128, 0, 128),rgb(161, 144, 238),rgb(255, 0, 149));
    border-radius: 20px;
}